* {
    box-sizing: border-box;
}
.app {
    margin-top: 2%;
    width: 50%;
    margin-left: 25%;
    border-style: solid;
    border-width: 1;
}
.topbar {
    display: inline-block;
    justify-content: space-around;
    background-color: hwb(0 77% 23%);
    width: 100%;
}
.toptext {
    display: flex;
    text-align: right;
}
.chathistory {
    height: 30rem;
}
.chat {
    display: flex;
    border-style: solid;
    border-width: 1;
    bottom: 0;
    background-color: hsl(0,0%,76.86%);
}
.sendchat {
    border: 0;
    border-radius: 15%;
    position: absolute;
    height: 2rem;
    width: 5rem;
    margin-left: 42%;
    margin-top: 2.5%;
    background-color: hsl(210.2,66.81%,55.1%);
}
.chatbox {
    margin-top:5%;
    margin-bottom: 5%;
    margin-left: 18%;
    margin-right:18%;
    resize: none;
}